# This file contains common pin mappings for the BigTreeTech Octopus
# Pro v1.1 board.

# Important! Do not use this config with an Octopus Pro v1.0 board nor
# non-Pro board.

# To use this config, during "make menuconfig", select "Enable
# low-level configuration options", select the STM32H723
# micro-controller, select a "128KiB bootloader", and select a "25Mhz
# crystal".

# See docs/Config_Reference.md for a description of parameters.

# region Mainsail Client Variables
[include mainsail.cfg]
[gcode_macro _CLIENT_VARIABLE]
  variable_use_custom_pos   : True    # use custom park coordinates for x,y [True/False]
  variable_custom_park_x    : 198.0   # custom x position; value must be within your defined min and max of X
  variable_custom_park_y    : 246.0   # custom y position; value must be within your defined min and max of Y
  variable_custom_park_dz   : 2.0     # custom dz value; the value in mm to lift the nozzle when move to park position
  variable_retract          : 1.0     # the value to retract while PAUSE
  variable_cancel_retract   : 1.0     # the value to retract while CANCEL_PRINT
  variable_speed_retract    : 120.0   # retract speed in mm/s
  variable_unretract        : 1.0     # the value to unretract while RESUME
  variable_speed_unretract  : 5.0     # unretract speed in mm/s
  #variable_speed_hop       : 15.0    # z move speed in mm/s
  variable_speed_move       : 60.0    # move speed in mm/s
  variable_park_at_cancel   : True    # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
  variable_park_at_cancel_x : 198.0   # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
  variable_park_at_cancel_y : 246.0   # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
  ## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
  variable_use_fw_retract   : True    # use fw_retraction instead of the manual version [True/False]
  #variable_idle_timeout     : 0      # time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
  #variable_runout_sensor    : ""     # If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
  ##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
  ## !!! Custom macros, please use with care and review the section of the corresponding macro.
  ## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
  ## Only  single line commands are supported, please create a macro if you need more than one command.
  #variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
  variable_user_resume_macro: "WIPE_NOZZLE"    # Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
  variable_user_cancel_macro: "END_PRINT"      # Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
  # Bautek Custom Variables
  variable_custom_park_speed_mms:  50  # Park movement speed
  variable_nozzle_wipe_start_x:   208  #
  variable_nozzle_wipe_start_y:   246  #
  gcode: # Nothing to do

[include KAMP_Settings.cfg]
[include e3ng_001_macros.cfg]
[include Orbiter2_SmartSensor.cfg]
#[include bigtreetech-adxl345-v2.0.cfg] # Comment out unless the ADXL345 is connected.

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 12000 # 12000 max tested
max_z_velocity: 5
max_z_accel: 100

# region Motion
# A, B, Z_1 Stepper Details
# LDO-42STH48-2804AH
# 2.8 steps per revolution
# 2.8 amps

# Stepper A
# Octo Pro Driver 0
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: PG6 # Octo Pro Stop 0
position_endstop: 0
# bed min = 2.0
position_max: 228
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC4
#diag_pin: PG6
run_current: 1.5 # This driver's realistic limit is 1.4A to 1.7A with active cooling
#stealthchop_threshold: 0 # Spreadcycle

# Stepper B
# Octo Pro Driver 1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: PG9 # Octo Pro Stop 1
position_endstop: 247
# Bed minimum = 16.5
position_max: 247 # 228 = max print position
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PD11
#diag_pin: PG9
run_current: 1.5
#stealthchop_threshold: 0 # Spreadcycle

# Stepper Z_1
# Octo Pro Driver 2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
#position_min: -3
position_max: 234

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG10
run_current: 1.000
#stealthchop_threshold: 0 # Spreadcycle

[extruder]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
microsteps: 16
rotation_distance: 4.705854813
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 20
max_extrude_cross_section: 5 # Set high to allow KAMP purges, default is 4.0 * nozzle_diameter^2
heater_pin: PA3 # HE1
min_temp: 0
max_temp: 300
#min_extrude_temp: 0 e-step calibration only
#smooth_time: 1.0
pwm_cycle_time: 0.01667 # For 60Hz mains or # 0.008333
# PT1000 Thermocouple
sensor_type: MAX31865
sensor_pin: PF8
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2

# This is only a base profile, tune PA in the filament profiles.
#pressure_advance: 0.0575

[tmc2209 extruder]
# LDO-36STH20-1004AHG
uart_pin: PD3
run_current: 0.650 # 1.2A peak, 0.85A RMS  #2025-05-21 was 0.800
sense_resistor: 0.11 # TODO: Must verify!
#stealthchop_threshold: 0 # Spreadcycle
#interpolate: true

# region Bed
[heater_bed]
heater_pin: PA0 # HE0
sensor_pin: PF3 # TB
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 105
pwm_cycle_time: 0.01667 # For 60Hz mains

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 2, 8
mesh_max: 190, 220
probe_count: 5,5

# region Fans
# Octo Pro Fan 0
[heater_fan heat_break]
pin: PA8
heater: extruder
#shutdown_speed: 1
#heater_temp: 50
#max_power: 0.8
#off_below: 0.0

# Octo Pro Fan 1
# Primary print cooling
[fan]
pin: PE5
max_power: 0.35
cycle_time: 0.005
kick_start_time: 0.1
off_below: 0.12 # 8% (0.08)/max_power = off_below
shutdown_speed: 0

# TODO: Enable after adding the side-mounted aux print cooler
# Octo Pro Fan 2
#[fan_generic aux_print_cooling]
#pin: PD12

# Octo Pro Fan 3
# Bed fan and Bento Box
[fan_generic chassis_circulation]
pin: PD13
shutdown_speed: 0

# Octo Pro Fan 4
[controller_fan octo_pro]
pin: PD14
heater: extruder, heater_bed
stepper: stepper_x, stepper_y, stepper_z, extruder
idle_timeout: 120
shutdown_speed: 1

# Octo Pro Fan 5
[controller_fan stepper_cooling]
pin: PD15
stepper: stepper_x, stepper_y
idle_timeout: 120
shutdown_speed: 1

# Fans 6 & 7 are always-on and not controlled by the MCU

# region Bed Leveling and Homing
[bltouch]
sensor_pin: ^PB7  # BLTouch White
control_pin: PB6 # BLTouch Yellow
x_offset: 33.5
y_offset: -6.5
#z_offset: 2.0

[safe_z_home]
home_xy_position: 81.0, 120.0
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_screws]
screw1_name: Front Left
screw1: 30.5, 29.5
screw2_name: Back Left
screw2: 30.5, 200
screw3_name: Back Right
screw3: 200.5, 200
screw4_name: Front Right
screw4: 200.5, 29.5

[screws_tilt_adjust]
# Values from bed_screws adjusted for the z-probe offset.
screw1_name: Back Left
screw1: 2, 206.5
screw2_name: Front Left
screw2: 2, 36
screw3_name: Front Right
screw3: 167, 36
screw4_name: Back Right
screw4: 167, 206.5
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4


# region Features
[input_shaper]
# Using accelerometer
shaper_type_x = zv
shaper_freq_x = 64.6
shaper_type_y = zv
shaper_freq_y = 62.6

# Manual, first pass
#shaper_freq_x = 38.9
#shaper_freq_y = 47.6

[firmware_retraction]
retract_length: 1
retract_speed: 120
unretract_extra_length: 0
unretract_speed: 5

[gcode_arcs]
resolution: 1.0

[exclude_object]

[respond]

[skew_correction]

# region Board and MCU
[virtual_sdcard]
path: /home/adam/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[neopixel octo_pro_neopixel]
pin: PB10

[pwm_cycle_time buzzer]
pin: PE8
value: 0.0
shutdown_value: 0.0
cycle_time: 0.001

[gcode_macro M300]
description: Enables M300 commands
gcode:
  { action_respond_info("BEEP!")}
  # Use a default 1kHz tone if S is omitted
  {% set S = params.S|default(1000)|int %}
  # Use a 10ms duration if P is omitted
  {% set P = params.P|default(10)|int %}
  SET_PIN PIN=buzzer VALUE=0.5 CYCLE_TIME={1.0/S if S > 0 else 1}
  G4 P{P}
  SET_PIN PIN=buzzer VALUE=0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1A0019000D51313339373836-if00

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.470
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.061
#*# pid_ki = 11.458
#*# pid_kd = 12.632
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.157
#*# pid_ki = 1.772
#*# pid_kd = 775.863
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.248750, 0.107500, 0.095000, 0.135000, 0.271250
#*# 	0.073750, 0.037500, 0.050000, 0.082500, 0.192500
#*# 	0.012500, 0.006250, 0.002500, 0.043750, 0.151250
#*# 	0.016250, -0.010000, 0.010000, 0.043750, 0.103750
#*# 	0.111250, 0.072500, 0.068750, 0.097500, 0.168750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 220.0
#*# min_y = 10.0
#*# max_y = 180.0
